body{
    margin: 0vh;
}

.characters-page div{
    display: inline-block;
}

.content{
    background: linear-gradient(
        rgba(0, 0, 0, 0.13), 
        rgba(0, 0, 0, 0.13)
      ), url('../Assets/character/background_img.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title{
    display: block;
    width: 80vw;
    height: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 50vh;
    margin-bottom: 13vh;
}

.character{
    background-color: rgba(0, 0, 0, 0.73);
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border: 0vh;
    border-radius: 2.4vh;
}

.char-name h3{
    color: orange;
    font-size: 4.2vh;
    margin-top: 3vh;
    margin-bottom: 1.3vh;
}

.char-img{
    display: block;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

.char-img img{
    width: 30vh;
}

.char-bgstory p{
    color: white;
    font-size: 2.7vh;
}

@media screen and (max-width: 800px) {
    #title{
        margin-top: 10vh;
    }
}